.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px; 
}
.cart-title{
    margin-top: -20px;
}
.cart img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.profile{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    
}
.profile-info{
    line-height: 0;
    margin-left: 8px;
}
.name{
    font-weight: 700;
    font-size: medium;
}
.body-info{
    display: flex;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 20px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 5px;
    align-items: center;
    justify-content: center;
    
}
.num{
    font-weight: 700;
}
.small{
 font-weight: 700;
 font-size: small;
}

.activity-btn{
    width: 100%;
    background: lightblue;
    border: none;
    border-radius: 8px;
    position:relative;
    bottom:0 ;
    margin-top: 5px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.activity-btn:hover{
    background-color: rgba(13, 58, 76, 0.986);
    color: white;
}

.p1{
    font-weight: 700;
    font-size: large;
}
.p2{
    font-weight: 600;
    font-size: medium;
}
.time{
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;    
}

.btn{
    justify-content: space-between;
    background-color: skyblue;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    font-weight: 800;  
   font-size: small;
     
}

.btn:hover{
   background-color: rgb(16, 52, 83);
   color: white;
}