.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: aliceblue;
    
}
.packages-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 100px 50px;
    
}
.list-container{
    background-color: rgba(151, 209, 228, 0.283);
}


@media screen and (max-width: 1080px) {
    .packages-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 540px) {
    /* For tablets: */
    .packages-container{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
   
}