.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: aliceblue;
    
}
.packages-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    margin: 100px 50px;
    
}
.list-container{
    background-color: wheat;
}


@media screen and (max-width: 1100px) {
    .packages-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
